[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
pandas = "*"
coverage = "*"
pytest-cov = "*"
pytest-testdox = "*"
mock = "*"
flask = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.8"
